<div class="form-heading"> 
    <div class="row">
        <div class="col-6">
                 <h4><i class="fa fa-barcode"></i> Promotion </h4>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-info float-right ml-2 mr-2 " (click)="category()">
                Inventory Category</button>
            <button type="button" class="btn btn-info float-right  " (click)="stock()">
                 Stock</button>
                <button type="button" class="btn btn-info float-right ml-2 mr-2 " (click)="promotion()">
                     Promotion</button>
                    
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary btn-lg fa fa-plus mt-3 ml mb-3" data-toggle="modal" data-target="#myModal">  Add product</button>

      </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Promotion</th>
        <th scope="col">Discount</th>
        <th scope="col">Criteria</th>
        <th scope="col">Other</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>