<div class="form-heading">
  <div class="row">
    <div class="col-6">
      <h4><i class="fa fa-circle-o-notch"></i> POS</h4>
    </div>
    <div class="col-6">
      <!-- <button
        type="button"
        class="btn btn-info float-right"
        (click)="endOfDay()"
      >
        End of day
      </button> -->
      <button
        type="button"
        class="btn btn-info float-right ml-2 mr-2"
        (click)="salesHistory()"
      >
        Sales history
      </button>
      <button type="button" class="btn btn-info float-right active">
        Checkout
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 mt-4">
    <input
      type="text"
      class="form-control"
      id="validationCustom01"
      placeholder="Product search"
      required
    />
  </div>
  <div class="col-md-2 mt-4">
    <select class="form-control" id="sel1">
      <option>Alphabetic</option>
      <option>Most sold</option>
      <option>Price (low)</option>
      <option>Price (high)</option>
    </select>
  </div>
  <div class="col-md-1 mt-4">
    <button class="btn btn-primary">clear</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Shocks</div>
              <span class="size ng-star-inserted text-left">Stock: 10</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 500</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Brake rod</div>
              <span class="size ng-star-inserted text-left">Stock: 25</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 80</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Tail light</div>
              <span class="size ng-star-inserted text-left">Stock: 20</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 100</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Tube</div>
              <span class="size ng-star-inserted text-left">Stock: 11</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 300</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Clutch</div>
              <span class="size ng-star-inserted text-left">Stock: 30</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 50</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Head light</div>
              <span class="size ng-star-inserted text-left">Stock: 12</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 12</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Winker</div>
              <span class="size ng-star-inserted text-left">Stock: 18</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 120</span
              >
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
          <a href="#">
            <div class="card-body" style="color: black">
              <div class="card-body text-center">Steering</div>
              <span class="size ng-star-inserted text-left">Stock: 13</span>
              <span class="size ng-star-inserted text-right ml-5"
                >Price: 250</span
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
