<div class="backgrd">

    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin">
                <div class="form-label-group">
                 <b>Email</b> <input type="email" id="inputEmail" [(ngModel)]="login.Email" name="username" #username="ngModel" class="form-control" placeholder="Email" required autofocus>
              
                </div>
  
                <div class="form-label-group">
                  
                  <b>Password</b><input type="password" id="inputPassword" [(ngModel)]="login.Password" name="password"  #password="ngModel" class="form-control" placeholder="Password" required>
                 
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                </div>
                <div class="custom-control" style="color:red">
                  <p>{{response}}</p>
                </div> 
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="postLogin()">Sign in</button>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  