<div class="form-heading">
  <div class="row">
    <div class="col-6">
      <h4><i class="fa fa-ticket"></i> New Tickets</h4>
    </div>
    <div class="col-6"></div>
  </div>
</div>

<div class="needs-validation" novalidate>
  <div class="content-box">
    <div class="form-row">
      <div class="col-md-6 col-sm-12 col-12">
        <label for="validationCustom01">Select a customer</label>
        <span class="text-danger">*</span>
        <select
          class="form-control"
          (change)="populateCustomerInfo($event.target.value)"
          [(ngModel)]="ticketObjUI.CustomerID"
        >
          <option selected value="">Select Customer</option>
          <option
            *ngFor="let customer of customersList"
            [value]="customer.UserID"
          >
            {{ customer.Username }}
          </option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="FiRst name"
          value=""
          disabled
          [(ngModel)]="customerInfoUI.Username"
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            placeholder="Email"
            aria-describedby="inputGroupPrepend"
            disabled
            [(ngModel)]="customerInfoUI.Email"
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Address</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom03"
          placeholder="Address"
          disabled
          [(ngModel)]="customerInfoUI.Address"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">Contact Number</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom04"
          placeholder="Contact"
          disabled
          [(ngModel)]="customerInfoUI.Phonenumber"
        />
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">km/day</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom05"
          placeholder="km"
          disabled
          [(ngModel)]="customerInfoUI.Km"
        />
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <div class="form-group"></div>
  </div>

  <div class="content-box">
    <h4>Template</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="home-tab"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Front</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Rear</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="contact-tab"
          data-toggle="tab"
          href="#contact"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
          >Other</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="form-row">
          <div class="col-md-6">
            <div class="funkyradio">
              <div class="funkyradio-primary">
                <input
                  #headlight
                  (click)="frontProducts(headlight)"
                  type="checkbox"
                  name="checkbox"
                  id="headlight"
                  value="Headlight"
                />
                <label for="headlight">Headlight</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox2"
                  #Speedometer
                  value="Speedometer"
                  (click)="frontProducts(Speedometer)"
                />
                <label for="checkbox2">Speedometer</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox3"
                  #Winker
                  value="Winker"
                  (click)="frontProducts(Winker)"
                />
                <label for="checkbox3">Winker</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox4"
                  #Cushion
                  value="Cushion Assy Rear"
                  (click)="frontProducts(Cushion)"
                />
                <label for="checkbox4">Cushion Assy Rear</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox5"
                  #Hub
                  value="Hub Front Wheel"
                  (click)="frontProducts(Hub)"
                />
                <label for="checkbox5">Hub Front Wheel</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox6"
                  #Spoke
                  value="Spoke & Nipple Set Front"
                  (click)="frontProducts(Spoke)"
                />
                <label for="checkbox6">Spoke & Nipple Set Front</label>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="funkyradio">
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox7"
                  #Cable
                  value="Cable Frond Brake"
                  (click)="frontProducts(Cable)"
                />
                <label for="checkbox7">Cable Frond Brake</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox8"
                  #Fuel
                  value="Fuel Tank"
                  (click)="frontProducts(Fuel)"
                />
                <label for="checkbox8">Fuel Tank</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox9"
                  #Tire
                  value="Tire Front"
                  (click)="frontProducts(Tire)"
                />
                <label for="checkbox9">Tire Front</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox10"
                  #Clutch
                  value="Clutch"
                  (click)="frontProducts(Clutch)"
                />
                <label for="checkbox10">Clutch</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox11"
                  #Steering
                  value="Steering"
                  (click)="frontProducts(Steering)"
                />
                <label for="checkbox11">Steering</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox12"
                  #Disk
                  value="Disk Brake"
                  (click)="frontProducts(Disk)"
                />
                <label for="checkbox12">Disk Brake</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="form-row">
          <div class="col-md-6">
            <div class="funkyradio">
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox13"
                  #Assy
                  value="Cushion Assy Rea"
                  (click)="rearProducts(Assy)"
                />
                <label for="checkbox13">Cushion Assy Rear</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox14"
                  #Tail
                  value="Tail Light"
                  (click)="rearProducts(Tail)"
                />
                <label for="checkbox14">Tail Light</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox15"
                  #Drive
                  value="Final Drive Sprocket"
                  (click)="rearProducts(Drive)"
                />
                <label for="checkbox15">Final Drive Sprocket</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox16"
                  #Luggae
                  value="Luggae Rack"
                  (click)="rearProducts(Luggae)"
                />
                <label for="checkbox16">Luggae Rack</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox17"
                  #fender
                  value="Rear fender"
                  (click)="rearProducts(fender)"
                />
                <label for="checkbox17">Rear fender</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox18"
                  #Rod
                  value="Brake Rod"
                  (click)="rearProducts(Rod)"
                />
                <label for="checkbox18">Brake Rod</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="funkyradio">
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox19"
                  #Rest
                  value="Foot Rest"
                  (click)="rearProducts(Rest)"
                />
                <label for="checkbox19">Foot Rest</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox20"
                  #Shocks
                  value="Shocks"
                  (click)="rearProducts(Shocks)"
                />
                <label for="checkbox20">Shocks</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox21"
                  #Chain
                  value="Chain Set"
                  (click)="rearProducts(Chain)"
                />
                <label for="checkbox21">Chain Set</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox22"
                  #Pad
                  value="Brake Pad"
                  (click)="rearProducts(Pad)"
                />
                <label for="checkbox22">Brake Pad</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox23"
                  #Wink
                  value="Wink Rear"
                  (click)="rearProducts(Wink)"
                />
                <label for="checkbox23">Wink Rear</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox24"
                  #Flap
                  value="Mud Flap"
                  (click)="rearProducts(Flap)"
                />
                <label for="checkbox24">Mud Flap</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <div class="form-row">
          <div class="col-md-6">
            <div class="funkyradio">
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox25"
                  #Battery
                  value="Battery"
                  (click)="otherProducts(Battery)"
                />
                <label for="checkbox25">Battery</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox26"
                  #Piston
                  value="Piston Kit"
                  (click)="otherProducts(Piston)"
                />
                <label for="checkbox26">Piston Kit</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox27"
                  #Friction
                  value="Disk Clutch Friction"
                  (click)="otherProducts(Friction)"
                />
                <label for="checkbox27">Disk Clutch Friction</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox28"
                  #Exhaust
                  value="Muffler Exhaust"
                  (click)="otherProducts(Exhaust)"
                />
                <label for="checkbox28">Muffler Exhaust</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox29"
                  #Double
                  value="Seat Assy Double"
                  (click)="otherProducts(Double)"
                />
                <label for="checkbox29">Seat Assy Double</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox30"
                  #Connecting
                  value="Connecting Rod Kit"
                  (click)="otherProducts(Connecting)"
                />
                <label for="checkbox30">Connecting Rod Kit</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="funkyradio">
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox31"
                  #Plug
                  value="Spark Plug"
                  (click)="otherProducts(Plug)"
                />
                <label for="checkbox31">Spark Plug</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox32"
                  #AHL
                  value="AHL Tyre"
                  (click)="otherProducts(AHL)"
                />
                <label for="checkbox32">AHL Tyre</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox33"
                  #Cover
                  value="Chain Cover Set"
                  (click)="otherProducts(Cover)"
                />
                <label for="checkbox33">Chain Cover Set</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox34"
                  #Sproket
                  value="Chain Sproket Kit"
                  (click)="otherProducts(Sproket)"
                />
                <label for="checkbox34">Chain Sproket Kit</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox35"
                  #Shoe
                  value="Brake Shoe Set"
                  (click)="otherProducts(Shoe)"
                />
                <label for="checkbox35">Brake Shoe Set</label>
              </div>
              <div class="funkyradio-primary">
                <input
                  type="checkbox"
                  name="checkbox"
                  id="checkbox36"
                  #Cleaner
                  value="Air Cleaner"
                  (click)="otherProducts(Cleaner)"
                />
                <label for="checkbox36">Air Cleaner</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-lg-12">
          <label class="text-capitalize pt-7">Pickup Time</label>
          <input
            class="form-control"
            type="date"
            [(ngModel)]="ticketObjUI.PickupTime"
          />
        </div>
        <div class="form-group col-lg-12">
          <label>Description</label>
          <textarea
            rows="5"
            cols="60"
            placeholder="Desc"
            class="form-control"
            [(ngModel)]="ticketObjUI.Deccription"
          >
          </textarea>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container mt:3">
  <div class="card mt-3">
    <div class="card-header">
      Invoice Date
      <strong>{{ getCurrentDate() }}</strong>
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-6"></div>

        <div class="col-sm-6"></div>
      </div>

      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Item</th>

              <th class="right">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsUIList">
              <td class="left strong">{{ product.productName }}</td>

              <td class="right">Rs. {{ product.productCost }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-5"></div>

        <div class="col-lg-4 col-sm-5 ml-auto">
          <table class="table table-clear">
            <tbody>
              <tr>
                <td class="left">
                  <strong>Total</strong>
                </td>
                <td class="right">
                  <strong>Rs. {{ totalCost }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  class="btn btn-primary mt-3 ml-3"
  aria-hidden="true"
  type="create"
  (click)="saveTicket()"
  [disabled]="
    !ticketObjUI.CustomerID ||
    !ticketObjUI.Deccription ||
    !ticketObjUI.PickupTime
  "
>
  Create
</button>
