<div class="form-heading">
    <div class="row">
        <div class="col-6">
            <h4><i class="fa fa-ticket"></i> New Tickets </h4>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>

<form class="needs-validation" novalidate>
    <div class="content-box">
        <div class="form-row">
            <div class="col-md-6 col-sm-12 col-12">
                <label for="validationCustom01">Search and add new customer</label> <span class="text-danger">*</span>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Add customer" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>


    <div class="content-box">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="FiRst name" value=""
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value=""
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Email"
                        aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Address</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="Address" required>
               
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom04">Contact Number</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="Contact" required>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom05">km/day</label>
                <input type="text" class="form-control" id="validationCustom05" placeholder="km" required>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>
        </div>
        <div class="form-group">
          
        </div>
       
    </div>

    <div class="content-box">
        <h4>Template</h4>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Front</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Rear</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Other</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="form-row">
                                <div class="col-md-6">
                    
                                    <div class="funkyradio">
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox1" />
                                            <label for="checkbox1">Headlight</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox2" />
                                            <label for="checkbox2">Speedometer</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox3" />
                                            <label for="checkbox3">Winker</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox4" />
                                            <label for="checkbox4">Cushion Assy Rear</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox5" />
                                            <label for="checkbox5">Hub Front Wheel</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox6" />
                                            <label for="checkbox6">Spoke & Nipple Set Front</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                    
                    
                                    <div class="funkyradio">
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox7"  />
                                            <label for="checkbox7">Cable Frond Brake</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox8" />
                                            <label for="checkbox8">Fuel Tank</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox9" />
                                            <label for="checkbox9">Tire Front</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox10" />
                                            <label for="checkbox10">Clutch</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox11" />
                                            <label for="checkbox11">Steering</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox12" />
                                            <label for="checkbox12">Disk Brake</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                  </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="form-row">
                                <div class="col-md-6">
                    
                                    <div class="funkyradio">
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox13" />
                                            <label for="checkbox13">Cushion Assy Rear</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox14" />
                                            <label for="checkbox14">Tail Light</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox15" />
                                            <label for="checkbox15">Final Drive Sprocket</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox16" />
                                            <label for="checkbox16">Luggae Rack</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox17" />
                                            <label for="checkbox17">Rear fender</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox18" />
                                            <label for="checkbox18">Brake Rod</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                    
                    
                                    <div class="funkyradio">
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox19"/>
                                            <label for="checkbox19">Foot Rest</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox20" />
                                            <label for="checkbox20">Shocks</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox21" />
                                            <label for="checkbox21">Chain Set</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox22" />
                                            <label for="checkbox22">Brake Pad</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox23" />
                                            <label for="checkbox23">Wink Rear</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox24" />
                                            <label for="checkbox24">Mud Flap</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="form-row">
                                <div class="col-md-6">
                    
                                    <div class="funkyradio">
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox25" />
                                            <label for="checkbox25">Battery</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox26" />
                                            <label for="checkbox26">Piston Kit</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox27" />
                                            <label for="checkbox27">Disk Clutch Friction</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox28" />
                                            <label for="checkbox28">Muffler Exhaust</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox29" />
                                            <label for="checkbox29">Seat Assy Double</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox30" />
                                            <label for="checkbox30">Connecting Rod Kit</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                    
                    
                                    <div class="funkyradio">
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox31"/>
                                            <label for="checkbox31">Spark Plug</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox32" />
                                            <label for="checkbox32">AHL Tyre</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox33" />
                                            <label for="checkbox33">Chain Cover Set</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox34" />
                                            <label for="checkbox34">Chain Sproket Kit</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox35" />
                                            <label for="checkbox35">Brake Shoe Set</label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="checkbox" name="checkbox" id="checkbox36" />
                                            <label for="checkbox36">Air Cleaner</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
              </div>
        
    </div>
    <section>
        
            <div class="container-fluid">
            <label>Description</label>
            <div class="row">
              <div class="col-lg-6">
                    <textarea rows="5" cols="60" placeholder="Desc" class="form-control">
                        </textarea>
              </div>
              <div class="col-lg-6">
                    <label class="text-capitalize pt-7">Pickup Time</label>
                    <input class="form-control"/>    
                       
                    <div class="form-group col-lg-13 mt-3">
                        
                        <select class="form-control" id="sel1">
                          
                          <option>New ticket</option>
                          <option>Pending</option>
                          <option>Done</option>
                        </select>
                      </div>
              </div>
             
            </div>
          </div>
          </section>

</form>
<div class="container mt:3">
    <div class="card mt-3">
  <div class="card-header ">
  Invoice
  <strong>01/01/01/2018</strong> 
    <span class="float-right"> <strong>Status:</strong> Pending</span>
  
  </div>
  <div class="card-body">
  <div class="row mb-4">
  <div class="col-sm-6">
 
 
 
  </div>
  
  <div class="col-sm-6">
 
 

  </div>
  
  
  
  </div>
  
  <div class="table-responsive-sm">
  <table class="table table-striped">
  <thead>
  <tr>
  <th class="center">#</th>
  <th>Item</th>
  <th>Description</th>
  
  <th class="right">Unit Cost</th>
    <th class="center">Qty</th>
  <th class="right">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td class="center">1</td>
  <td class="left strong">Speedometer</td>
  <td class="left">Good quality</td>
  
  <td class="right">Rs. 999,00</td>
    <td class="center">1</td>
  <td class="right">Rs. 999,00</td>
  </tr>
  <tr>
  <td class="center">2</td>
  <td class="left">Cushion Assy Rear</td>
  <td class="left">Medium quality</td>
  
  <td class="right">Rs. 150,00</td>
    <td class="center">2</td>
  <td class="right">Rs. 3.000,00</td>
  </tr>
  <tr>
  <td class="center">3</td>
  <td class="left">Brake Rod</td>
  <td class="left">Used</td>
  
  <td class="right">Rs. 499,00</td>
    <td class="center">1</td>
  <td class="right">Rs. 499,00</td>
  </tr>
  <tr>
  <td class="center">4</td>
  <td class="left">Piston Kit</td>
  <td class="left">Good quality</td>
  
  <td class="right">Rs. 3.999,00</td>
    <td class="center">1</td>
  <td class="right">Rs. 3.999,00</td>
  </tr>
  </tbody>
  </table>
  </div>
  <div class="row">
  <div class="col-lg-4 col-sm-5">
  
  </div>
  
  <div class="col-lg-4 col-sm-5 ml-auto">
  <table class="table table-clear">
  <tbody>
  <tr>
  <td class="left">
  <strong>Subtotal</strong>
  </td>
  <td class="right">Rs. 8.497,00</td>
  </tr>
  <tr>
  <td class="left">
  <strong>Discount (20%)</strong>
  </td>
  <td class="right">Rs. 1,699,40</td>
  </tr>
  <tr>
  
  <td class="right">Rs. 679,76</td>
  </tr>
  <tr>
  <td class="left">
  <strong>Total</strong>
  </td>
  <td class="right">
  <strong>Rs. 7.477,36</strong>
  </td>
  </tr>
  </tbody>
  </table>
  
  </div>
  
  </div>
  
  </div>
  </div>
  </div>
  <button class="btn btn-primary mt-3 ml-3 " aria-hidden="true" type="create">Create</button>
